.whytrust {
    padding: 90px 0;

    &__question {
        @include row-flex();
        @include col();
        @include size(12);
        margin-left: 45px;
        position: relative;
        font-family: "ReformaGroteskDemiC";
        font-size: 32px;

        p {
            
        }

        &:before {
            content: '02';
            color: #a5a6a6;
            position: absolute;
            top: 50%;
            left: -30px;
            transform: translateY(-50%);
        }
    }

    &__content {
        background-color: #040506;
        padding: 50px 40px;
        @include row-float();
        @include col();
        @include size(12);
        margin-top: 90px;
        position: relative;

        h2 {
            font-size: 18px;
            line-height: 26px;
            color: #ffffff;
        }

        &_list {
            width: 600px;
            margin-top: 30px;
            margin-left: 35px;

            ul {

                li {
                    position: relative;
                    margin-top: 45px;
    
                    p {
                        font-size: 16px;
                        color: #ffffff;
                    }
    
                    &:before {
                        content: url('../img/check.png');
                        width: 16px;
                        height: 12px;
                        position: absolute;
                        top: 0;
                        left: -25px;
                    }
                }
            }
        }

        &_quote {
            width: 600px;
            margin-top: 40px;
            position: relative;

            p {
                font-size: 18px;
                line-height: 26px;
                color: #ffffff;

                span {
                    color: #eb2a22;
                }
            }

            &:before {
                content: '“';
                font-family: "ReformaGroteskDemiC";
                font-size: 80px;
                color: #ff0000;
                opacity: 0.25;
                position: absolute;
                top: -30px;
                left: -25px;
            }

            &:after {
                content: '“';
                font-family: "ReformaGroteskDemiC";
                font-size: 80px;
                color: #ff0000;
                opacity: 0.25;
                position: absolute;
                bottom: -25px;
                right: 15px;
                transform: rotate(180deg);
            }
        }

        &_photo {
            width: 540px;
            position: absolute;
            bottom: 0;
            right: -75px;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 991px) {

    .whytrust {

        &__content {

            &_photo {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .whytrust {
        padding: 30px 0;

        &__question {
            font-size: 24px;
            margin-left: 30px;
        }

        &__content {

            &_list {
                width: 100%;
                margin-left: 15px;
            }

            &_quote {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 375px) {

    .whytrust {

        &__question {

            &:before {
                top: 0;
                transform: translateY(0);
            }
        }

        &__content {

            &_quote {

                p {
                    font-size: 16px;
                    line-height: 20px;
                }

                &:before {
                    font-size: 60px;
                }

                &:after {
                    font-size: 60px;
                }
            }
        }
    }
}